@import '../../sass/utils/mixin';

.cart__container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cart__hereBtn {
    cursor: pointer;
    color: var(--secondaryTextColor);
    background-color: var(--buttonColor);
    padding: 7px;
    border-radius: 15px;
    border: none;
}

.pizzaListItem {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 15px;
    
    @include mq(mob) {
        max-width: 280px;
    }

    @include mq(tab) {
        max-width: 700px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 20px;
    }

    @include mq(desk) {
        max-width: 1000px;
    }
}

.pizzaListItem {
    &:hover {
    outline: 1px solid rgba(238, 238, 238, 10);
      .pizzaListItem__image {
        transform: scale(1.25);
        transition: transform 0.3s ease-in-out;
      }
    }
  }

.pizzaListItem__info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    @include mq(tab) {
        width: 400px;
    }
}

.pizzaList {
    padding-top: 80px;
    padding-bottom: 10px;
}

.pizzaListItem__image {
    width: 100px;
    height: 100px;
    border-radius: 15px;
    margin-right: 10px;

    @include mq(tab) {
    width: 150px;
    height: 150px;
    margin-right: 20px;
    }
}

.pizzaListItem__container {
    display: flex;
    margin-bottom: 20px;
}

.pizzaListItem__title {
    font-family: 'Open Sans Semibold';
    text-align: start;
    font-size: 17px;
    margin-bottom: 10px;

    @include mq(tab) {
        text-align: center;
        font-size: 25px;
        margin-bottom: 20px;
    }
    
}

.pizzaListItem__description {
    font-family: 'Open Sans Regular';
    text-align: start;
    font-size: 12px;

    @include mq(tab) {
        text-align: center;
        font-size: 17px;
    }
}

.pizzaListItem__priceContainer {

    @include mq(mob) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    @include mq(tab) {
        display: flex;
        align-items: center;
        width: 110px;
        flex-direction: column;
        justify-content: space-between;
        }

    @include mq(desk) {
        display: flex;
        align-items: center;

        flex-direction: column;
        justify-content: space-between;
        }
}

.pizzaListItem__price {
    color: var(--primaryTextColor);
    font-family: 'Open Sans Regular';
    font-size: 17px;

    @include mq(tab) {
        font-size: 22px;

        }
    
    @include mq(desk) {
        font-size: 25px;

        }
}

.pizzaListItem__btn {
    cursor: pointer;
    background-color: var(--secondaryTextColor);
    padding: 7px;
    border-radius: 15px;
    border: none;
    width: 30px;
    height: 30px;

}

.pizzaListItem__btnSVG {
    fill: var(--primaryTextColor);
}

.totalContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.totalPrice {
    font-family: 'Open Sans Regular';
    font-size: 17px;

    @include mq(tab) {
        font-size: 22px;
        padding: 10px;
        }
    
    @include mq(desk) {
        font-size: 25px;
        padding: 15px;
        }

}

.orderButton {
    font-family: 'Open Sans Regular';
    font-size: 17px;
    cursor: pointer;
    color: var(--secondaryTextColor);
    background-color: var(--buttonColor);
    padding: 7px;
    border-radius: 15px;
    border: none;

    @include mq(tab) {
        font-size: 22px;
        padding: 10px;
        }
    
    @include mq(desk) {
        font-size: 25px;
        padding: 15px;
        }
    
}

.pizzaListItem__cartControls {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(228, 228, 228);
    border-radius: 15px;
    padding: 2px;
    height: 34px;

    @include mq(tab) {
        width: 104px;
        height: 44px;
        }
    
    @include mq(desk) {

        }
}

.pizzaListItem__cartButton {
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
    background-color: rgb(228, 228, 228);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pizzaListItem__cartButtonTrash {
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
    background-color: var(--secondaryTextColor);
    display: flex;
    align-items: center;
    justify-content: center;

    @include mq(tab) {
        width: 40px;
        height: 40px;
        }
    
    @include mq(desk) {
        width: 30px;
        height: 30px;
        }
}

.pizzaListItem__cartButtonSvg {
    width: 24px;
    height: 24px;
  }

.pizzaListItem__cartQuantity {
    padding: 0 10px;
}
    