.navList {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__container {
    padding-top: 10px;
    padding-bottom: 10px;
}

.cartLogo {
    fill: var(--primaryTextColor);
    width: 30px;
    height: 30px;
    
}